<!DOCTYPE html>
<html lang="en">

<head>
    <% include /partials/head %>
</head>

<body>
    <div id="wrap">
        <header class="">
            <% include /partials/header %>
        </header>
        <div class="container">
        
        </div>
        <div class="container">
            <main>
                <div>
                    Hier komt het dashhoard, met o.a. de actieve presentatie, en lijsten met meest gebruikte slides.
                </div>
            </main>
        </div>
         <div id="push"></div>
    </div>
   
    <div id="footer">
        <% include /partials/footer %>
    </div>
    <% include /partials/bottomscript %>
</body>

</html>