<!DOCTYPE html>
<html lang="en">
	<head>
		<% include /partials/head %>
	</head>
    
    <body>
    <div id="wrap">
        <header class="">
            <% include /partials/header %>
        </header>
        <div class="container">
        
        </div>
        <div class="container">
            <main>
                <div>
                    Hier komt een overzicht van de slides en de mogelijkheid om eem slides aan te maken en te beheren.
                </div>
            </main>
        </div>
         <div id="push"></div>
    </div>
   
    <div id="footer">
        <% include /partials/footer %>
    </div>
    <% include /partials/bottomscript %>
</body>

</html>